Repository coenm/ImageHash, pull requests merged in 2021-11, with the labels that each got.

#36 Optimize PerceptualHash implementation
  src/ImageHash/HashAlgorithms/PerceptualHash.cs
  tests/ImageHash.Test/ImageHash.Test.csproj
Labels: enhancement

#37 Use EasyTestFile in test projects
  tests/ImageHash.Test/Algorithms/AverageHashTest.cs
  tests/ImageHash.Test/Algorithms/DifferenceHashTest.cs
  tests/ImageHash.Test/Algorithms/PerceptualHashTest.cs
  tests/ImageHash.Test/Data/TestData.AlysonHannigan200x200_0.testfile.jpg
  tests/ImageHash.Test/Data/TestData.AlysonHannigan4x4_0.testfile.jpg
  tests/ImageHash.Test/Data/TestData.AlysonHannigan500x500_0.testfile.jpg
  tests/ImageHash.Test/Data/TestData.AlysonHannigan500x500_1.testfile.jpg
  tests/ImageHash.Test/Data/TestData.Github_1.testfile.jpg
  tests/ImageHash.Test/Data/TestData.Github_2.testfile.jpg
  tests/ImageHash.Test/Data/TestData.NotAnImage.testfile.txt
  tests/ImageHash.Test/Data/TestData.cs
  tests/ImageHash.Test/Data/github_1.png
  tests/ImageHash.Test/ImageHash.Test.csproj
  tests/ImageHash.Test/ImageHashExtensionsTest.cs
  tests/ImageHash.Test/Internal/TestHelper.cs
Labels: test-enhancement

#47 Remove AppVeyor, fix Code coverage in DevOps
  .azuredevops/Pipelines/build.yaml
  .scripts/Codecov.ps1
  .scripts/TestCoverage.ps1
  .scripts/pack.ps1
  appveyor.yml
  tests/Directory.Build.props
Labels: build

#48 Target net6
  README.md
  src/Directory.Build.props
  src/ImageHash/ImageHash.csproj
  src/ImageHash/PackageDescription.md
  tests/ImageHash.Test/ImageHash.Test.csproj
Labels: enhancement

#50 Enable github security scanning using codeql-analysis
  .github/workflows/codeql-analysis.yml
Labels: build

#52 Generate markdown on build without links
  .azuredevops/Pipelines/build.yaml
  src/ImageHash/PackageDescription.md
Labels: build
